.product-card-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}


.product-card{
    display: grid;
    margin: 0.4em;

    align-items: center;
    text-align: center;
    background-color: mix(#000, $background-color, 10%);
    border: 2px solid $primary-color;
    border-radius: 12px;
    text-decoration: none !important;

    transition: transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.47);
    }

    .title {
        width: 100%;
        grid-area: title;
    }

    .img {
        grid-area: img;
        align-self: start;
    }

    .info {
        grid-area: info;
        font-size: $type-size-5;
        align-self: start;
    }

    .tags {
        grid-area: tags;
        align-self: center;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

    }

    h1 {
        color: $primary-color;
        text-align: center;
        margin: 0 !important;
    }

    h4 {
        color: $text-color;
        text-align: center;
        margin: 0 !important;
    }

    p {
        color: $text-color;
        text-align: center;
        margin: 0 !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tag-container {
        display: grid;
        row-gap: 0.5em;
        justify-items: stretch;
        justify-content: space-around;
    }

    .tag {
        padding: 0.25em;
        margin: 0.25em;
        border: 1px solid $primary-color;
        border-radius: 8px;
        text-align: center;
        text-decoration: none !important;
    }
}

@media screen and (min-device-width: $x-small) and (max-device-width: $medium) {

}
@media screen and (min-device-width: $medium) {

}

@media screen and (min-device-width: $x-large) {
    .product-card-container {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 100%;
    }
}

.product-card-template-vertical {    
    grid-template-areas:
    "img title"
    "img info"
    "img tags";


    grid-template-columns: 35% 65%;
    padding: 0em 0em 0em 0em;

    .img {
        height: 100%;
        img {
            border-radius: 12px 0px 0px 12px;
            height: 100%;
            // max-height: 512px;
        }
    }
    
    .tag-container {
        grid-template-columns: 25% 25%;
    }
}

.product-card-template-horizontal {    
    grid-template-areas:
    "img img"
    "title tags"
    "info tags";

    padding: 0em 0em 0em 0em;

    .img {
        width: 100%;
        img {
            border-radius: 12px 12px 0px 0px;
            width: 100%;
        }
    }

    .tag-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}